@font-face {
    font-family:monospaceB;
    src: url(../fonts/Space_Mono/SpaceMono-Bold.ttf);
font-weight:bold;
}
@font-face {
    font-family:monospaceR ;
    src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);

}