.wrapper {
    &__block {
      display: grid;
      grid-template-columns: 40% 40%;
      align-items: center;
      justify-content: space-between;
  
      &--grid h3 {
        color: #495567;
        font-size: 40px;
        font-family: 'Space Mono', monospace;
  height: 96px;
  width: 400px;
      }
    
      &--grid p{
          color: #939CAA;
          font-size: 15px;
          width: 445px;
          height: 75px;
          line-height: 25px;
          font-family: 'Lexend Deca';
      }
      &--grid img{
          width: 445px;
          height: 445px;
          border-radius: 50%;
          margin-top: 120px;
      }
    
  
      &--grid{
   
      }
    }
  }