.container{
    width:1110px;
    margin: 0 auto;
}
// ===================RESPONSIVE==================
@media #{$media-tablet-md} {
    .container{
        width: 768px;
        margin: 0 auto;
    }
}

@media #{$media-mobile-xs} {
    .container{
        width:375px;
        margin: 0 auto;
    }
}