.intro {
  width: 100%;
  .wrapper1 {
    display: flex;
    &__title {
      width: 445px;
      margin-top: 245px;
      &_h2 {
        font-size: 45px;
        color: #495567;
        font-family: "Space Mono";

      }

      &_p {
        font-size: 15px;
        color: #939caa;
        font-family: "Lexend Deca";
      }
    }
&__img{
  width: 445px;
  height: 445px;
  border-radius: 50%;
  
}
  }

  .wrapper2 {
    &__title {
      width: 445px;
      margin-top: 245px;
      &_h2 {
        font-size: 45px;
        color: #495567;
        font-family: "Space Mono";
      }

      &_p {
        font-size: 15px;
        color: #939caa;
        font-family: "Lexend Deca";
      }
    }
  }

  .wrapper3 {
    &__h1 {
      color: #495567;
      font-size: 48px;
      font-family: "Space Mono";
      text-align: center;
      margin-top: 245px;
    }
    &__img {
      margin-top: 48px;
      display: flex;
      justify-content: space-around;
    }

    &__text {
      width: 350px;
      margin-top: 32px;
      &_h3 {
        text-align: center;
        letter-spacing: -1.07143px;
        font-family: 'Lexend Deca';
        font-size:24px;
        color: #495567;
      }
      &_p{
        text-align: center;
        font-family: 'Lexend Deca';
        font-size:15px;
        color:  #939CAA;
        line-height: 25px;
      }
    }

    &__card{
        margin-bottom: 120px;
        display: flex;
        justify-content: space-between;
      }
  }
 
}
// =============RESPONSIVE TABLET============
@media #{$media-tablet-md} {
  .intro {
   
    width: 100%;
    .wrapper1 {
      display: block;
      &__title {
        width: 445px;
        margin-top: 245px;
        &_h2 {
          font-size: 45px;
          color: #495567;
          font-family: "Space Mono";
  
        }
  
        &_p {
          font-size: 15px;
          color: #939caa;
          font-family: "Lexend Deca";
        }
      }
  &__img{
    width: 445px;
    height: 445px;
    border-radius: 50%;
    display: block;
  }
    }
  
    .wrapper2 {
    display: block;
      &__title {
        width: 445px;
        margin-top: 245px;
        &_h2 {
          font-size: 45px;
          color: #495567;
          font-family: "Space Mono";
        }
  
        &_p {
          font-size: 15px;
          color: #939caa;
          font-family: "Lexend Deca";
        }
      }
    }
  
    .wrapper3 {
      &__h1 {
        color: #495567;
        font-size: 48px;
        font-family: "Space Mono";
        text-align: center;
        margin-top: 245px;
      }
      &__img {
        margin-top: 48px;
        display:block;
        justify-content: space-around;
      }
  
      &__text {
        width: 350px;
        margin-top: 32px;
        &_h3 {
          text-align: center;
          letter-spacing: -1.07143px;
          font-family: 'Lexend Deca';
          font-size:24px;
          color: #495567;
        }
        &_p{
          text-align: center;
          font-family: 'Lexend Deca';
          font-size:15px;
          color:  #939CAA;
          line-height: 25px;
        }
      }
  
      &__card{
          margin-bottom: 120px;
          display: block;
          justify-content: space-between;
        }
    }
   
  }
}
// =============RESPONSIVE TABLET============
@media #{$media-mobile-xs} {
  .intro {
    width: 100%;
    .wrapper1 {
      display: block;
      &__title {
        width: 445px;
        margin-top: 245px;
        &_h2 {
          font-size: 45px;
          color: #495567;
          font-family: "Space Mono";
  
        }
  
        &_p {
          font-size: 15px;
          color: #939caa;
          font-family: "Lexend Deca";
        }
      }
  &__img{
    width: 445px;
    height: 445px;
    border-radius: 50%;
    
  }
    }
  
    .wrapper2 {
      &__title {
        width: 445px;
        margin-top: 245px;
        display: block;
        &_h2 {
          font-size: 45px;
          color: #495567;
          font-family: "Space Mono";
        }
  
        &_p {
          font-size: 15px;
          color: #939caa;
          font-family: "Lexend Deca";
        }
      }
    }
  
    .wrapper3 {
      &__h1 {
        color: #495567;
        font-size: 48px;
        font-family: "Space Mono";
        text-align: center;
        margin-top: 245px;
      }
      &__img {
        margin-top: 48px;
        display: block;
        justify-content: space-around;
      }
  
      &__text {
        width: 350px;
        margin-top: 32px;
        display: block;
        &_h3 {
          text-align: center;
          letter-spacing: -1.07143px;
          font-family: 'Lexend Deca';
          font-size:24px;
          color: #495567;
        }
        &_p{
          text-align: center;
          font-family: 'Lexend Deca';
          font-size:15px;
          color:  #939CAA;
          line-height: 25px;
        }
      }
  
      &__card{
          margin-bottom: 120px;
          display: flex;
          justify-content: space-between;
        }
    }
   
  }
}
